@import "style.css";

:root {
  --scale: 1.15;
}

.fancy-text {
  font-size: var(--lg);
  line-height: 1.2;
}

h1 {
  text-align: center;
}

article {
  display: grid;
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
}

article footer {
  margin-top: var(--lg);
  font-size: var(--sm);
}

.article-img-wrapper {
  grid-row: 2/3;
}

@media (min-width: 600px) {
  :root {
    --scale: 1.25;
  }

  article {
    grid-template-columns: 1fr 1fr;
  }

  article h2 {
    grid-column: 1/3;
  }

  .article-img-wrapper {
    grid-column: 2/3;
    grid-row: 2/4;
    height: 600px;
    max-width: 300px;
    margin: 1.5rem 1.5rem 0 0;
    justify-self: end;
  }

  article footer {
    grid-row: 5/6;
    grid-column: 1/3;
  }

  article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 25% 50%;
  }
}

@media (min-width: 800px) {
  .fancy-text {
    font-size: var(--xl);
  }

  article {
    grid-template-columns: 2fr 1fr;
  }

  .article-img-wrapper {
    margin: 0.5rem 0 0 2rem;
  }

  .main-text {
    columns: 2;
  }
  .main-text p {
    margin-top: 0;
  }
}

@media (min-width: 1000px) {
  article {
    display: block;
  }
  .main-text {
    columns: 3;
  }
  .article-img-wrapper {
    max-width: 100%;
    height: 500px;
    margin: 3rem 0 0 0;
  }
}
