:root {
  /* colors */
  --white: #ffffff;
  --green: #333d29;
  --coffee: #43281c;
  --vanilla: #f1e3d3;
  --lemon: #fbf2c0;
  --mocha: #7f4f24;
  --tan: #ddb892;
  --blue: #3e80b6;

  /* fonts */
  --decorative: "Montserrat", sans-serif;
  --sans: "Open Sans", sans-serif;

  /* font scale */
  --base-size: 1.2rem;
  --scale: 1.25;
  --xl: calc(var(--lg) * var(--scale));
  --lg: calc(var(--h1) * var(--scale));
  --h1: calc(var(--h2) * var(--scale));
  --h2: calc(var(--h3) * var(--scale));
  --h3: calc(var(--h4) * var(--scale));
  --h4: calc(var(--h5) * var(--scale));
  --h5: calc(var(--h6) * var(--scale));
  --h6: var(--base-size);
  --sm: calc(var(--base-size) / var(--scale));
  /* Generate sizes, element styles, and classes for h1, h2, h3, body. Generate
   * sizes for h4-h6, a small size, and a large size
   * (classes not needed, just variables).
  See https://codepen.io/jen4web/pen/KKGpKBM as an example */

  /* other variables */
  --radius: 5px;
}

/* add border box sizing to the page */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* using the above variables and the HTML specified above, write CSS to style
 * headings, text, links, images, figures, etc. */

body {
  font-family: var(--sans);
  /*
   * Ensure you always use line-height without units.
   */
  line-height: 1.5;
  background-color: var(--vanilla);
  color: var(--coffee);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-family: var(--decorative);
  font-weight: 400;
  margin: 0;
}

h1,
.h1 {
  font-size: var(--h1);
  line-height: 1;
  margin-bottom: var(--h2);
}
h2,
.h2 {
  font-size: var(--h2);
  line-height: 1.1;
  margin-bottom: var(--h3);
}

h3,
.h3 {
  font-size: var(--h3);
  line-height: 1.2;
  margin-bottom: var(--h4);
}
img {
  /* Don't be any bigger than the picture is. */
  /* max-width will ensure that it doesn't stretch beyond inherent width of the
   * image. unlike width which is relative to the images container */
  /* max-width is based on the image's properties and not the element's
   * properties */
  max-width: 100%;
  border-radius: var(--radius);
}

figure {
  /* margin is outside the border, inside of the border is padding */
  margin: 0;
}

a {
  color: var(--green);
}

a:hover {
  text-decoration: none;
}
header {
  background-color: var(--coffee);
  padding: 1rem 0;
  border-bottom: 20px double var(--tan);
}

header h1 {
  color: var(--vanilla);
  margin-bottom: 0;
}
